

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Inter:wght@400;700&family=Lexend+Deca:wght@100&family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat',sans-serif !important;
 
}

button{
  background-color:black !important;
  box-shadow: none !important;
  border:none !important;
  outline:none !important;
  color:white !important;
}


/* target the input field */


input,textarea{
  box-shadow: none !important;
  outline:none !important;
}


input:focus, textarea:focus{
  outline:none !important;
  box-shadow:none !important;

}

