/*  auth parents */

.auth-parent{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}


.auth-parent h1{
    font-weight:bold;
    font-size:22px;
}


.auth-parent form{
    width:25rem;
    box-shadow:0 0 3px black;
    padding:20px;
}

/*  end of  auth parent */