/*  auth parents */

.auth-parent{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}


.auth-parent h1{
    font-weight:bold;
    font-size:22px;
}


.auth-parent form{
    width:25rem;
    box-shadow:0 0 3px black;
    padding:20px;
}

/*  end of  auth parent */


/*  for the ant design */

.ant-spin{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
}